.light {
    background-color: white;
    color: black;
}

.dark {
    background-color: black;
    color: white;
}

header {
    padding: 1rem;
    text-align: center;
}

main {
    padding: 2rem;
    text-align: center;
}